$themeColor: #000000;
$themeHoverColor: #111111;
$textColor: #111111;
$borderColor: #e0e0e0;
$lightGray: #f4f4f4;

$boxShadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;

$borderRadius: 2px;
